<div class="app-header">
  <div class="app-header-container">
    <div class="app-header-wrapper">
      <div class="header-logo">
        <h3>CitisKopes</h3>
      </div>
      <div class="header-search">
        <input placeholder="Search here.....">
        <mat-icon class="header-search-btn">search</mat-icon>
      </div>
      <div class="header-actions">
        <mat-icon>pin_drop</mat-icon>
        <mat-icon>chat</mat-icon>
        <mat-icon>home</mat-icon>
        <mat-icon>notifications</mat-icon>
        <mat-icon>person</mat-icon>
      </div>
      <div class="hamburger-action">
        <mat-icon>menu</mat-icon>
      </div>
    </div>
  </div>
</div>
