<div class="app-itenary-main">
  <div class="app-itenary-main-container">
    <div class="app-itenary-main-container-wrapper">
      <div class="app-itenary-filter">
        <div class="app-itenary-filter-dropdown">
          <span>Filter by Type</span><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <div class="app-itenary-filter-dropdown">
          <span>Filter by Category</span><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <div class="app-itenary-filter-dropdown">
          <span>Filter by Price</span><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <div class="app-itenary-filter-dropdown">
          <span>Filter by Disatance(miles)</span><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <div class="app-itenary-header">
        <h1>My Itinerary</h1>
        <span class="see-more">see more</span>
      </div>

      <div class="app-itenary-upload">
        <div class="app-itenary-upload-add">
          <mat-icon>add</mat-icon>
        </div>
        <div class="app-itenary-upload-files">
          <mat-icon>swipe_up_outline</mat-icon><span>There's no itinerary please start to create from here</span>
        </div>
      </div>
      <div class="app-itenary-header">
        <h1>Featured Itinerary</h1>
        <span class="see-more">see more</span>
      </div>

      <div class="app-itinerary-carousel">
        <div class="app-itinerary-carousel-images">
          <span class="itinerary-image">
            <img src="../../assets/mountains-clouds-forest-fog.webp" alt="places image">
            <div class="itinerary-image-content">
              <mat-icon>pin_drop</mat-icon> <span>switzerland</span>
            </div>
            <div class="itinerary-image-icon">
              <mat-icon>downloading</mat-icon>
            </div>
          </span>
          <span class="itinerary-image">
            <img src="../../assets/place2.jpg" alt="places image">
            <div class="itinerary-image-content">
              <mat-icon>pin_drop</mat-icon> <span>switzerland</span>
            </div>
            <div class="itinerary-image-icon">
              <mat-icon>downloading</mat-icon>
            </div>
          </span>
          <span class="itinerary-image">
            <img src="../../assets/place3.jpg" alt="places image">
            <div class="itinerary-image-content">
              <mat-icon>pin_drop</mat-icon> <span>switzerland</span>
            </div>
            <div class="itinerary-image-icon">
              <mat-icon>downloading</mat-icon>
            </div>
          </span>
          <span class="itinerary-image">
            <img src="../../assets/place4.jpg" alt="places image">
            <div class="itinerary-image-content">
              <mat-icon>pin_drop</mat-icon> <span>switzerland</span>
            </div>
            <div class="itinerary-image-icon">
              <mat-icon>downloading</mat-icon>
            </div>
          </span>
          <span class="itinerary-image">
            <img src="../../assets/place5.jpeg" alt="places image">
            <div class="itinerary-image-content">
              <mat-icon>pin_drop</mat-icon> <span>switzerland</span>
            </div>
            <div class="itinerary-image-icon">
              <mat-icon>downloading</mat-icon>
            </div>
          </span>
          <span class="itinerary-image">
            <img src="../../assets/mountains-clouds-forest-fog.webp" alt="places image">
            <div class="itinerary-image-content">
              <mat-icon>pin_drop</mat-icon> <span>switzerland</span>
            </div>
            <div class="itinerary-image-icon">
              <mat-icon>downloading</mat-icon>
            </div>
          </span>
          <span class="itinerary-image">
            <img src="../../assets/place3.jpg" alt="places image">
            <div class="itinerary-image-content">
              <mat-icon>pin_drop</mat-icon> <span>switzerland</span>
            </div>
            <div class="itinerary-image-icon">
              <mat-icon>downloading</mat-icon>
            </div>
          </span>
        </div>
      </div>
      <div class="app-itenary-header-secondary">
        <h2>Activities</h2>
        <span class="see-more">see more</span>
      </div>
      <div class="app-itinerary-activity-carousel">
        <div class="app-itinerary-activity-carousel-images">
          <span class="activity-image">
            <img src="../../assets/place4.jpg" alt="places image">
            <div class="activity-image-content">
              <span>switzerland</span>
            </div>
          </span>
          <span class="activity-image">
            <img src="../../assets/place3.jpg" alt="places image">
            <div class="activity-image-content">
              <span>switzerland</span>
            </div>
          </span>
          <span class="activity-image">
            <img src="../../assets/mountains-clouds-forest-fog.webp" alt="places image">
            <div class="activity-image-content">
              <span>switzerland</span>
            </div>
          </span>
          <span class="activity-image">
            <img src="../../assets/place2.jpg" alt="places image">
            <div class="activity-image-content">
              <span>switzerland</span>
            </div>
          </span>
          <span class="activity-image">
            <img src="../../assets/place5.jpeg" alt="places image">
            <div class="activity-image-content">
            <span>switzerland</span>
            </div>
          </span>
          <span class="activity-image">
            <img src="../../assets/place3.jpg" alt="places image">
            <div class="activity-image-content">
              <span>switzerland</span>
            </div>
          </span>
          <span class="activity-image">
            <img src="../../assets/mountains-clouds-forest-fog.webp" alt="places image">
            <div class="activity-image-content">
              <span>switzerland</span>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
