<div class="app-places-people">
  <div class="app-places-people-container">
    <div class="app-places-people-container-wrap">
      <div class="places-people-nearby">
        <div class="places-people-nearby-header-main">
          <h1>Around me</h1>
        </div>
        <div class="places-people-nearby-header-secondary">
          <h3>Near by Places</h3>
          <span class="see-more">see more</span>
        </div>
        <div class="places-people-nearby-carousel">
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby1.jpg" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby2.jpg" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby4.jpg" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby5.jpg" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby6.webp" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby7.webp" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/mountains-clouds-forest-fog.webp" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby2.jpg" alt="nearby places images">
          </span>
          <span class="places-people-nearby-carousel-images">
            <img src="../../assets/nearby4.jpg" alt="nearby places images">
          </span>
        </div>
      </div>

      <div class="places-people-suggested">
        <div class="places-people-suggested-header">
          <h3>Suggested people</h3>
          <span class="see-more">
            see more
          </span>
        </div>
        <div class="suggested-people-list">
          <div class="suggested-people-list-wrap">
            <div class="suggested-people">
              <div class="suggested-people-info">
                <div class="suggested-people-info-icon">
                  <img src="../../assets/profile1.avif" alt="">
                </div>
                <div class="suggested-people-info-content">
                  <p class="suggested-people-name">Ann Aminoff</p>
                  <p class="suggested-people-likes">4.8m</p>
                </div>
              </div>
              <div class="suggested-people-info-btn">
                <button>Follow</button>
              </div>
            </div>
            <div class="suggested-people">
              <div class="suggested-people-info">
                <div class="suggested-people-info-icon">
                  <img src="../../assets/profile2.avif" alt="">
                </div>
                <div class="suggested-people-info-content">
                  <p class="suggested-people-name">Joylin Lubin</p>
                  <p class="suggested-people-likes">4.8m</p>
                </div>
              </div>
              <div class="suggested-people-info-btn">
                <button>Follow</button>
              </div>
            </div>
            <div class="suggested-people">
              <div class="suggested-people-info">
                <div class="suggested-people-info-icon">
                  <img src="../../assets/profile1.avif" alt="">
                </div>
                <div class="suggested-people-info-content">
                  <p class="suggested-people-name">Justin Geidt</p>
                  <p class="suggested-people-likes">4.8m</p>
                </div>
              </div>
              <div class="suggested-people-info-btn">
                <button>Follow</button>
              </div>
            </div>
            <div class="suggested-people">
              <div class="suggested-people-info">
                <div class="suggested-people-info-icon">
                  <img src="../../assets/profile1.avif" alt="">
                </div>
                <div class="suggested-people-info-content">
                  <p class="suggested-people-name">Ann Lubin</p>
                  <p class="suggested-people-likes">4.8m</p>
                </div>
              </div>
              <div class="suggested-people-info-btn">
                <button>Follow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
