<div class="app-filter">
  <div class="app-filter-container">
    <div class="app-filter-wrapper">
      <div class="app-filter-content">
        <div class="app-filter-content-value">
          <div class="filter-value">
            <mat-icon>my_location</mat-icon><span>Place</span>
          </div>
          <div class="filter-subvalue">
            <p>Anywhere</p>
          </div>
        </div>
        <div class="app-filter-content-value">
          <div class="filter-value">
            <mat-icon>date_range</mat-icon><span>Dates</span>
          </div>
          <div class="filter-subvalue">
            <p>Anyday</p>
          </div>
        </div>
        <div class="app-filter-content-value">
          <div class="filter-value">
            <mat-icon>format_align_justify</mat-icon><span>Others</span>
          </div>
          <div class="filter-subvalue">
            <p>Anything</p>
          </div>
        </div>
        <div class="app-filter-content-search">
          <button><mat-icon>search</mat-icon> </button>
        </div>
      </div>
    </div>
  </div>
</div>
